{% extends 'base.html.twig' %}

{% block title %}page 2 !{% endblock %}

{% block main %}
    <h1>Hello World 2 la page 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis cumque et,
        incidunt libero quis recusandae. Aliquam facilis incidunt, iste iure obcaecati voluptas
        voluptatem? Culpa distinctio laboriosam maiores praesentium soluta.</p>
{% endblock %}